[includeIf "gitdir:~/personal/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work
[includeIf "hasconfig:remote.*.url:git@github.com:TriffyDigital/**"]
  path = ~/.gitconfig-work
[push]
 autoSetupRemote = true
